@import './header.css';
@import './hero.css';
@import './aboutMe.css';
@import './benefis.css';
@import './project.css';
@import './faq.css';
@import './covers.css';
@import './reviews.css';
@import './footer.css';

:root {
  /* Шрифты: */
  font-family: 'Inter', sans-serif;
  /* hover: */
  --light-crimson: #ed3b44;
  /* color-button: */
  --dark-crimson: #e0373f;
  /* background */
  --dark: #1c1d20;
  /* Cards: */
  --dark-gray: #242527;
  /* Array/logo: */
  --gray: #3b3b3b;
  /* For links and etc */
  --white: #fafafa;
  /* Success: */
  --green: #3cbc81;
}
